*{
    font-style: oblique;
}
h1 {
    color: seagreen;
    text-shadow: 0 0 .5rem hotpink;
}
body {
    background-color: limegreen;
    background-image: url(https://cdn.discordapp.com/attachments/1176385397366992926/1235282240552964156/pepubi.gif?ex=6633cdbc&is=66327c3c&hm=b9bc9d8085939fcc56727fc0b44b4f232ddb0e07f22239f0945b204f89df5ef1&);
background-size: contain;
}
